.accueil {
    top: 100vh;
    height: 50vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    border: 100px;
}

.sommaire{
    top: 900px;
    height: 50vh;
    width: 12vw;
    bottom: 0px;
    position: static;
    margin: auto;

}

.main-container{
    top: 30%;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.histoire-container{
    top: 137px;
    position: relative;
    width: 100vw;
    height: 610px;
}

.personnage-container{
    top: 142px;
    position: relative;
    width: 100vw;
    height: 610px;
}

.lieux-container{
    top: 176px;
    position: relative;
    width: 100vw;
    height: 600px;
}

.race-container{
    top: 1000px;
    position: relative;
    width: 100vw;
    height: 600px;
}

.page-ext {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    top: -82%;
    width: 70%;
    height: 70%;
}

.slideshow .slide a.lien {
    width: 100%;
    height: 100%;
}
