@font-face {
    font-family: 'ring';
    src: url('ringm___-webfont.woff2') format('woff2'),
         url('ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');